name: Java CI

on:
  push:
    branches:
      - main

    pull_requests:
      branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Cache netbeans platform
        uses: actions/cache@v3
        env:
          cache-name: netbeans-plat
        with:
          path: netbeans-plat
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('nbproject/platform.properties') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name:  Build with Ant
        run: ant -noinput test
